# Ignore everything by default
*

# Allow .gitignore files (to ensure they are tracked)
!.gitignore

# Allow traversal into subdirectories
!*/

# Allow .cpp and .h files
!*.cpp
!*.h
!*.c

# Allow html template
!webassembly/template.html

# Allow CMakeLists
!CMakeLists.txt

# Allow .bats
!*.bat