# Ignore everything by default
*

# Allow .gitignore files (to ensure they are tracked)
!.gitignore

# Allow traversal into subdirectories
!*/

# Allow .cpp and .h files
!*.cpp
!*.h
!*.c

!webassembly/template.html

# Allow specific files
!CMakeLists.txt
