# Ignore everything by default
*

# Allow .gitignore files (to ensure they are tracked)
!.gitignore

# Allow traversal into subdirectories
!*/

# Allow .cpp and .h files
!*.cpp
!*.h
!*.c

# Allow html template
!webassembly/template.html

# Allow CMakeLists
!CMakeLists.txt

# Allow .bats
!*.bat

# Allow shaders
!*.vert
!*.frag

# Allow graph source files
!graph/*.ts
!graph/*.tsx
!graph/*.css
!graph/editor/*
!graph/selection/*

# Disallow RETE modules
graph/node_modules/*

# Disallow RETE package jsons
graph/package-lock.json
graph/package.json

# Disallow RETE config
graph/tsconfig.json

# Allow python
!*.py

# Allow graph manifest containing all possible nodes
!graphManifest.json